html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    text-align: center;
}

.swipper {
    border: 3px solid black;
    padding: 5px;
    display: inline-block;
}

.swipper div {
    margin: 0;
    padding: 0;
    height: 50px;
    margin: 3px;
}

.swipper img{
    width: 50px;
    height: 50px;
    margin: 1px;
}

.swipper img[src="img/default.png"] {
    border: 1px solid black;
    box-sizing: border-box;
}